$lightBlue:#90d5de;
$mainBlue: #007387;
$middleBlue: #005763;
$darkerBlue: #00424b;
$darkBlue: #003239; 
$blackBlue: #00272c;
$lightOrange: #f0a450;
$mainOrange: #db6b00;

// Color modifier classes 
.light-blue {color: $lightBlue;}
.light-orange {color: $lightOrange}
.white {color: white;}


