.left-content {
    display: flex; 
    align-items: center; 
    padding-left: 7%; 
    padding-right:7%;

    &--no-right {
        align-items: baseline;
        
        @include atSmall {
            padding-right: 0; 
        }
    }


    &--big-top {
        align-items: baseline;
        
        @include atMedium {
            padding-top: 2rem; 
            align-items: stretch;
        }
    }
}